[Unit]
Description=Test and flash utility for Managa Screen

[Service]
ExecStart=/usr/bin/python /usr/src/manga-screen/test/test.py

[Install]
WantedBy=basic.target

